.#{$components-prefix}img-avatar {
  max-width: 100%;
  height: auto;
  border-radius: 50em;
}

.#{$components-prefix}avatar {
  @include avatar($avatar-width,$avatar-status-width);

  > img {
    @extend .img-avatar;
    vertical-align: initial;
  }
}

.#{$components-prefix}avatar-lg {
  @include avatar($avatar-lg-width,$avatar-lg-status-width);
}

.#{$components-prefix}avatar-sm {
  @include avatar($avatar-sm-width,$avatar-sm-status-width);
}

.#{$components-prefix}avatar-xs {
  @include avatar($avatar-xs-width,$avatar-xs-status-width);
}

.#{$components-prefix}avatars-stack {

  .#{$components-prefix}avatar {
    margin-right: - ($avatar-width / 2);
    transition: margin-right $layout-transition-speed;

    &:hover {
      margin-right: 0;
    }
  }

  .#{$components-prefix}avatar-lg {
    margin-right: - ($avatar-lg-width / 2);
  }

  .#{$components-prefix}avatar-sm {
    margin-right: - ($avatar-sm-width / 2);
  }

  .#{$components-prefix}avatar-xs {
    margin-right: - ($avatar-xs-width / 2);
  }
}
