.#{$components-prefix}fade {
  @include transition($transition-fade);

  &:not(.#{$components-prefix}show) {
    opacity: 0;
  }
}

.#{$components-prefix}collapse {
  &:not(.#{$components-prefix}show) {
    display: none;
  }
}

.#{$components-prefix}collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  @include transition($transition-collapse);
}
